body{
    background-color: #c5d5cb;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}
h5,h4{
  text-align: left;
}
.container{
    width: 60%; background: #3b3a36;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
}
/*  #199fdb*/
header{
    text-align: center;
    border-bottom: white dashed 1px;
}

header h1{
    margin: 0;
    padding:0;
}

header p{
    padding: 0;
    margin-top: 5px;
    color: white;
}

section{
    min-height: 400px;
}

footer{
    text-align: center;
}

input[type="submit"]{
    background: #173e43;
    border: 0;
    color: #fff;
    padding:10px 15px;
    cursor: pointer;
}
#results h3{
    background-color:#f06226;
    padding: 10px;
    margin: 10px 0;
}

#results span{
    color: #000;
    font-weight: bold;
}